.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 100%;
  background-color: #ddd;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../image/supermarket.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.childContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.dataCard {
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.revenueCard {
  width: 92%;
  height: 20rem;
}

.customerCard,
.categoryCard {
  width: 30%;
  height: 20rem;
}

.dataRow {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  width: 92%;
}
